* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fbfbfd;
    overflow: hidden;
}

.hero {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 60%;
    transition: all 1s ease;
}

.hero-green {
    background-image: url("bg.jpg");
}

.hero-blue {
    background-image: url("bg-blue2.jpg");
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    transform: translateY(-80px);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 175px;
    width: 175px;
    background-color: #759650;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: background-color 1s ease;
}

.square-green {
    background-color: #759650;
}

.square-blue {
    background-color: #5187a6;
}

.active-green {
    border: 8px solid #ccef7f;
    border-radius: 20px;
    transform: scale(1.1);
}

.active-blue {
    border: 8px solid #2fc6c6;
    border-radius: 20px;
    transform: scale(1.1);
}

.icon-default {
    max-width: 110px;
    max-height: 110px;
    width: auto;
    height: auto;
}

.icon-bee {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.links {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    transition: all 0.4s ease;
}

.visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}

a {
    text-decoration: none;
    margin: 10px 0px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    width: 100%;
}

.a-green {
    background-color: #759650;
}

.a-blue {
    background-color: #5187a6;
}

.a-green:hover {
    color: #759650;
    background-color: #ccef7f;
}

.a-blue:hover {
    color: #eee;
    background-color: #2fc6c6;
}

.toggle-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s ease;
    width: 70px;
    text-align: center;
}

.toggle-button-visible {
    opacity: 0.5;
}

.toggle-button-text {
    color: #111;
}

@media (max-width: 768px) {
    body {
        overflow: auto;
        margin-top: 15px;
        background-size: cover;
        background-position: 50% 60%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .body-green {
        background-image: url("bg.jpg");
    }

    .body-blue {
        background-image: url("bg-blue2.jpg");
    }

    .hero {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
        background-image: none;
        opacity: 0.8;
    }

    .row {
        flex-direction: column;
        transform: none;
    }

    .column {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }

    .square {
        margin: 0 0 15px 0;
        flex: 1;
    }

    .links {
        width: 100%;
        opacity: 1;
        visibility: visible;
        flex: 1;
        align-items: flex-start;
        padding-right: 10px;
    }

    a {
        margin: 0 0 10px 10px;
        border-radius: 10px;
    }

    .a-green {
        color: #759650;
        border: 1px solid #759650;
        background-color: #eee;
    }

    .a-blue {
        color: #5187a6;
        border: 1px solid #5187a6;
        background-color: #eee;
    }

    .toggle-container {
        position: absolute;
        height: 30px;
        width: 75px;
    }

    .toggle-button {
        width: 70px;
    }
}
